---
layout: page
title: "Albums"
active: gallery
header-img: "img/gallery-bg.jpg"
images:
 - image_path: https://lh3.googleusercontent.com/pw/AM-JKLVlyxuNSkYV9Sa-T5s7YPFzP4wAsNZgpPzyJ3QbJuax30aDmov3R8K2dZ2mTD1JSJzwpJAT5tPBLDFhFyZyvK_dyfWUlupScGb6g9aWL1hP01rd-oiuSBrvorVqCvdZ3Ftd1jYHCA4rP865BSepMA2K9A=w1872-h1428-no?authuser=0
   gallery-folder: /gallery/astrophotography/
   gallery-name: Astrophotography
   gallery-date:
 - image_path: https://lh3.googleusercontent.com/pw/AMWts8BItPpbsV2R6GhSgIKTAvhn5qvsZv-qZQLVAXq-6UaU4g3FbLE3JlMgYFYuDDVipWo2ypQ08pphfXeBq0DTMQzcJHfPslSlEJ0KwGCJBYBKZjhJ3cs3WtD8EOUCeFQSM9SonLXy1sZ2g1aGwoDYlb8ozA=w2304-h1536-no?authuser=0
   gallery-folder: /gallery/italy
   gallery-name: Italy
   gallery-date:
---

<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">
    <link rel="stylesheet" href="{{ "/css/selena.css" | prepend: site.baseurl }}">
</head>


    <body class="gallery">
 
	<section id="content" role="main">
		<div class="wrapper">
	
			<h2>{{page.title}}</h2>
			
			<!-- Gallery __-->
			<div class="gallery masonry-gallery">
				
{% for image in page.images %}  	

	               <figure class="gallery-item">
                         <figure class="effect-selena">
					<header class='gallery-icon'>
					        
						<a href="{{ site.url }}{{ site.baseurl }}{{ image.gallery-folder }}">
						{% if image.image_path contains "http" %}
							<img src="{{ image.image_path }}"></a>
						{% else %}
							<img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"></a>
						{% endif %}

					</header>	
					<figcaption class='gallery-caption'>
						<div class="entry-summary">
							<h3>{{image.gallery-name}}</h3>
							<p>{{image.gallery-date}}</p>
						</div>
					</figcaption>
                       </figure>
				</figure>
							
{% endfor %}		
				
			</div>
			
		</div><!-- END .wrapper -->
	</section>


<br>

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/retina.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<!-- Modernizr -->
 <script src="{{ site.baseurl }}/js/modernizr.js"></script>

</body></html>
